/* Inter font link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4d5bbf;
  --color-secondary: #5BB4EA;
  --color-base-200: #F3F4F6;
  --color-accent: #1F2937;
  --color-neutral: #6B7280;
  --color-success: #10B981;
  --color-warning: #F59E0B;
}
@plugin "daisyui/theme" {
  name: "dark";
 
  --color-primary: #818cf8;
  --color-secondary: #38bdf8;
  --color-base-100: #1f2937;
  --color-base-200: #111827;
  --color-base-300: #0b1220;

  --color-accent: #e5e7eb;
  --color-neutral: #9ca3af;
  --color-success: #34d399;
  --color-warning: #fbbf24;
  --color-error: #f87171;
}






*{
   font-family: "Inter", sans-serif;
}